<!-- footer start -->
<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                   <a href="#"><img width="210" src="./../../../assets/images/logo.jpeg" alt="#" /></a>
                 </div>
                 <div class="information_f">
                  <p>
                     Excel Books Pvt. Ltd. is a pioneering printing press with years of experience in delivering top-tier printing services. 
                     Committed to blending traditional craftsmanship with modern innovation.
                  </p>
                 </div>
              </div>
          </div>
          <div class="col-md-8">
            <div class="row">
               <div class="col-md-7">
                  <div class="column">
                     <h2>Registered Office:</h2>
                     <h6>1E/14 Jhandewalan Extension, New Delhi-110055</h6>
                  </div>
                  <div class="column">
                     <h2>Sales Office:</h2>
                     <h6>81, Shyamlal Marg, Daryaganj, Delhi-110002</h6>
                  </div>

               </div>     
               <div class="col-md-5">
                  <div class="column">
                     <h2>Phone:</h2>
                     <h6>+91 7827459751, +91 8295529977</h6>
                  </div>
                  <div class="column">
                     <h2>Email:</h2>
                     <h6>info&#64;excelbooks.com</h6>
                  </div>
               </div>
            </div>
          </div>
       </div>
    </div>
 </footer>

 <!-- footer end -->
 <div class="cpy_">
    <p class="mx-auto">Designed & Developed by <a href="https://excelbook.com/"> Excel Books Pvt. Ltd. </a> © All Rights Reserved 2024</p>
 </div>